# CMake artifacts
build/*
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile

# Doxygen artifacts
docs/output

# Testing
tests/*

# Other
.exe
.vscode/
README_tmp.html
README.pdf
.DS_Store